data
.history
.DS_Store

src/df_prep.py
src/test_script.py
src/verify_point.py
src/convert_df_idxs.py
src/__pycache__/
src/utils/__pycache__/

src/models/CNN/__pycache__/
src/models/mcCNN/__pycache__/
src/models/MLP/__pycache__/
src/models/fNN/__pycache__/
src/models/empirical/__pycache__/

src/run_scripts/test_CNN/checkpoints
src/run_scripts/test_CNN/wandb
src/run_scripts/test_CNN/save
src/run_scripts/test_mcCNN/checkpoints
src/run_scripts/test_mcCNN/wandb
src/run_scripts/test_mcCNN/save
src/run_scripts/test_MLP/checkpoints
src/run_scripts/test_MLP/wandb
src/run_scripts/test_MLP/save
src/run_scripts/test_fNN/checkpoints
src/run_scripts/test_fNN/wandb
src/run_scripts/test_fNN/save
src/run_scripts/test_empirical/save

src/pulse_indexer/__pycache__/

notebooks/study_model_error.ipynb
notebooks/aix_distribution.ipynb